/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a5ef0c7ab2a89e4f70b8.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-9e786dd2234a759774fe.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-765b26d5021c7bdc8a91.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-03-02T18-16-04-0425.json
/cmake-build-debug/.cmake/api/v1/reply/target-TP_Mandelbrot-Debug-b536f256ab810095dc1b.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ab6bc179ddbddbdb0d31.json
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/a.out
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
